*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background: #ecf0f1;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#header .brand-logo {
  margin-left: 20px;
}
#main {
  flex: 1 0 auto;
}
