@site-color:  #21C64D;
@site-color2: #2671FF;
@site-background: #ECF0F1;

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	background: @site-background;
}

body {
    margin: 0;
	padding: 0;
}

#header {
	.brand-logo {
		padding-left: 20px;
	}
}
