$site-color =  #21C64D
$site-color2 = #2671FF
$site-background = #ECF0F1

user-select() {
	-webkit-user-select: arguments
	   -moz-user-select: arguments
	    -ms-user-select: arguments
	        user-select: arguments
}

*, *::before, *::after
	box-sizing: border-box

html
	background: $site-background
	// user-select: none

body
	min-height: 100vh
	margin: 0
	padding: 0

	display: flex
	flex-direction: column

#header
	.brand-logo
		margin-left: 20px

#main
	flex: 1 0 auto
